# Windows fájlok
Thumbs.db
Desktop.ini
ehthumbs.db
$RECYCLE.BIN/

# IDE mappák
/.idea
/.vscode

# Laravel fájlok és mappák
.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.nova
/.zed
/---